@{
    ViewData["Title"] = "Quiz";
}
<div class="py-5 min-h-[600px]">

    @if (Model != null && Model is IEnumerable<Question>)
    {
        <div>
        @{            
            int index = 1;        
            @foreach(var question in Model)
            {
                <div class="mb-4 max-w-[300px]">
                    <div class="text-xl font-semibold mb-2">@index. @question.Content</div>
                    <ul class="child:py-2 child-focus:bg-blue-400 child-hover:bg-blue-200 child-hover:cursor-pointer child:rounded-md">
                        <li>(A) @question.OptionA</li>
                        <li>(B) @question.OptionB</li>
                        <li>(C) @question.OptionC</li>
                        <li>(D) @question.OptionD</li>
                    </ul>
                </div>   
                index = index + 1;    
            }
        }
        </div>
        
        <button type="submit">Done</button>

    }
    else
    {
        <h1>The Quiz is Not Ready!</h1>
    }
</div>